extends base.pug

- load i18n

block content

  h2 Standard
  table.table.table-bordered.table-hover
    thead
      tr
        th {% trans 'code'|capfirst %}
        th {% trans 'name'|capfirst %}
        th {% trans 'details'|capfirst %}
        th {% trans 'vote'|capfirst %}

    tbody
      for card_set in standard_sets
        tr
          td
            | {{card_set.code}}
          td
            | {{card_set.name}}
          td
            a(href="{% url 'card_set_detail' card_set.id %}")
              | {% trans 'view set details'|capfirst %}
          td
            a(href="{% url 'card_set_vote_redirect' card_set.id %}")
              | {% trans 'vote this set'|capfirst %}

  h2 {% trans 'eternal formats'|capfirst %}
  table.table.table-bordered.table-hover
    thead
      tr
        th {% trans 'code'|capfirst %}
        th {% trans 'name'|capfirst %}
        th {% trans 'details'|capfirst %}
        th {% trans 'vote'|capfirst %}

    tbody
      for card_set in object_list
        tr
          td
            | {{card_set.code}}
          td
            | {{card_set.name}}
          td
            a(href="{% url 'card_set_detail' card_set.id %}")
              | {% trans 'view set details'|capfirst %}
          td
            a(href="{% url 'card_set_vote_redirect' card_set.id %}")
              | {% trans 'vote this set'|capfirst %}




  {% include 'includes/pagination.pug' %}
